@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background-color: var(--background);
  background-image:
    linear-gradient(to bottom, var(--background) 0%, transparent 30%),
    url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='15' height='15'%3E%3Cpath d='M15 0H0v15' fill='none' stroke='%23000' stroke-opacity='0.06' stroke-width='0.5'/%3E%3C/svg%3E");
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

@media (prefers-color-scheme: dark) {
  body {
    background-image:
      linear-gradient(to bottom, var(--background) 0%, transparent 30%),
      url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='15' height='15'%3E%3Cpath d='M15 0H0v15' fill='none' stroke='%23fff' stroke-opacity='0.06' stroke-width='0.5'/%3E%3C/svg%3E");
  }
}
